<!--  Simon Liu, Jonathan Trinh
      Leaderboard
      Summery: Show the sorted list of Team from earliest completed to last
-->
{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Leaderboard</h1>
      <p>This is the leaderboard where all teams will be displayed</p>
    </div>
    <table class="table table-hover table-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Team Name</th>
              <th scope="col">Progress</th>
              <th scope="col">Completion Time</th>
            </tr>
          </thead>
          <tbody>
          {% if teams %}
            {% for team in teams %}
              <tr>
                <td>{{loop.index}}</td>
                <td>{{team.team_name}}</td>
                <td>{{'%0d' % team.progress}}%</td>
                <td>
                  {% if team.date_completed %}
                    {{(team.date_completed - event_start).days}} days, {{(team.date_completed - event_start).seconds//3600}} hours, {{((team.date_completed - event_start).seconds//60)%60}} minutes
                  {% else %}
                    TBD
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}
          </tbody>
      </table>
   </div>
{%- endblock %}
