{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Teams</h1>
      {% if has_current_team %}
      <form action = "/quitteam" method="post" enctype="multipart/form-data">
        <button class='btn btn-danger pull-right text-right'>Quit Team</button>
      </form>
      {% endif %}
    </div>
    <div class="col-xs-6">
      <div class="jumbotron text-center">
        <h2>Create New Team</h2>
      </div>
      <form action = "/addteam" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="inputTeam"></label>
                <input name="newteam" maxlength=20 required="required" type="team" class="form-control mb-2 mr-sm-2" id="team_name" aria-describedby="emailHelp" placeholder="Enter Team Name">
                <small id="teamlimit" class="text-muted">
                  Must be within 20 characters long.
                </small>
                {%- if team_exist %}
                <div class="invalid-feedback">
                  Team Already Exists
                </div>
                {%- endif %}
                <button type="submit" class="btn btn-primary">Create</button>
              </div>
            </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="jumbotron text-center">
        <h2>Join Teams</h2>
      </div>
      <table class="table table-hover table-dark">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Teams</th>
              <th scope="col">Join?</th>
            </tr>
          </thead>
          <tbody>
          {% if team_list %}
            {% for team in team_list %}
              <tr>
                <td>{{team.team_name}}</td>
                <td><a href="/jointeam/{{team.id}}">Join</a></td>
              </tr>
            {% endfor %}
          {% endif %}
          </tbody>
      </table>
    </div>

   </div>
{%- endblock %}
